.flex-column {
  display: flex;
  flex-direction: column;
}

body {
  background-color: transparent;
}

home {
  .flex-column();

  height: 100%;

  task-list {
    .flex-column();

    display: flex;
    flex-direction: column;

    overflow: auto;

    task {
      position: relative;

      margin: 1px;
      margin-bottom: 0px;

      opacity: 1;

      cursor: pointer;

      &.done {
        opacity: 0.1;
        transition: opacity 30s linear;
      }

      info-line {
        display: flex;

        align-items: center;

        input[type=checkbox] {
          flex: 0 0 auto;
        }

        estimate {
          margin: 0 1em;
          font-size: 0.65em;
          font-weight: bold;
          font-family: monospace;

          line-height: 1em;
        }
      }

      estimate-bar {
        position: absolute;

        display: block;

        height: 100%;

        background-color: rgba(192, 192, 192, 0.5);

        z-index: -1;
      }

      duration-bar {
        position: absolute;
        display: block;
        height: 100%;

        background-color: rgba(127, 192, 127, 0.2);

        z-index: -1;
      }
    }
  }

  task-entry {
    flex: 1 0 auto;

    display: flex;

    align-items: center;
    justify-content: center;

    task-input {
      .flex-column();

      estimate-input {
        display: flex;

        align-items: stretch;

        select {
          flex: 1 1 auto;

          border: solid 1px #999;
          // background-color: transparent;
        }
      }
    }

    input[type=number] {
      width: 3em;

      text-align: right;
    }

    button {
      margin: 0.1em;
      // padding: 0;

      width: 1.5em;

      background-color: transparent;
      color: #999;

      font-size: 1.5em;
      line-height: 1.5em;

      border: none;

      font-weight: bold;

      cursor: pointer;

      &:hover {
        background-color: #999;

        color: #fff;
      }
    }
  }
}